@page
@model ContactModel

<h3>@Model.Message</h3>

<address>
    DN SOFTWARE HOUSE<br />
    BARRA BONITA - SP CEP: 17340-000<br />
    TELEFONE: (14) 3641-3771
</address>

@*<address>
        <strong>Envie um e-mail para: </strong>douglasnac1@hotmail.com<br />
    </address>*@
